<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WBSSystem_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SystemDao</display-name>
    <servlet-name>SystemDao</servlet-name>
    <servlet-class>model.SystemDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemDao</servlet-name>
    <url-pattern>/SystemDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCon</display-name>
    <servlet-name>LoginCon</servlet-name>
    <servlet-class>controller.LoginCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCon</servlet-name>
    <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBSDetailCon</display-name>
    <servlet-name>WBSDetailCon</servlet-name>
    <servlet-class>controller.WBSDetailCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBSDetailCon</servlet-name>
    <url-pattern>/WBSDetailCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBSBean</display-name>
    <servlet-name>WBSBean</servlet-name>
    <servlet-class>model.WBSBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBSBean</servlet-name>
    <url-pattern>/WBSBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListCon</display-name>
    <servlet-name>UserListCon</servlet-name>
    <servlet-class>controller.UserListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCon</servlet-name>
    <url-pattern>/UserListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateUpdateCon</display-name>
    <servlet-name>DateUpdateCon</servlet-name>
    <servlet-class>controller.DateUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateUpdateCon</servlet-name>
    <url-pattern>/DateUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoUpdateCon</display-name>
    <servlet-name>infoUpdateCon</servlet-name>
    <servlet-class>controller.infoUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoUpdateCon</servlet-name>
    <url-pattern>/infoUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoAddCon</display-name>
    <servlet-name>infoAddCon</servlet-name>
    <servlet-class>controller.infoAddCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoAddCon</servlet-name>
    <url-pattern>/infoAddCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBSListCon</display-name>
    <servlet-name>WBSListCon</servlet-name>
    <servlet-class>controller.WBSListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBSListCon</servlet-name>
    <url-pattern>/WBSListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCon</display-name>
    <servlet-name>LogoutCon</servlet-name>
    <servlet-class>controller.LogoutCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCon</servlet-name>
    <url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBSCreateCon</display-name>
    <servlet-name>WBSCreateCon</servlet-name>
    <servlet-class>controller.WBSCreateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBSCreateCon</servlet-name>
    <url-pattern>/WBSCreateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBSAddCon</display-name>
    <servlet-name>WBSAddCon</servlet-name>
    <servlet-class>controller.WBSAddCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBSAddCon</servlet-name>
    <url-pattern>/WBSAddCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddCon</display-name>
    <servlet-name>UserAddCon</servlet-name>
    <servlet-class>controller.UserAddCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddCon</servlet-name>
    <url-pattern>/UserAddCon</url-pattern>
  </servlet-mapping>
</web-app>